/*@import url(fonts/clear-sans.css);*/
html, body {
    padding: 0;
    //background: #eff4fa;
    background: rgba(211, 255, 253, 0.6392156862745098);
    //color: #656577; violet
    color: #6d5b5b; // orange
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
  margin: 5px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
  /*float: right;*/
  text-align: center; }

.score-container, .best-container, .timer-container , .countdown-container {
  position: relative;
  display: inline-block;
  padding: 15px 26.5px 0px 26.5px;
  font-size: 75px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
.countdown-container {
    margin-right: 5px;
    padding-left: 40px;
    padding-right: 40px;
}
.timer-container, .countdown-container {
    /*float: right;*/
    /*padding: 15px 42.5px 0px 42.5px;*/
    padding: 15px 35.5px 0px 35.5px;
}
  .score-container:after, .best-container:after, .timer-container:after , .countdown-container:after {
    position: absolute;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 0px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .timer-addition,.best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.timer-container:after {
  content: "Countdown"; }

.countdown-container:after {
  content: "Countdown"; }

.score-container:after {
  content: "Progress"; }

.best-container:after {
  content: "Level"; }

.best-container.step:after {
  content: "Step"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  // width: 500px;
  width: 100%;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.game-container {
  //margin-top: 15px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  // background: #a3a0bb;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 163px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  //position: absolute;
  //z-index: 1; 
    float: left;
}

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 136.66px;
    height: 136.66px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    transition: background-color 0.2s ease-in;
    background: #fff;
}
.gameProgressContainer {
    border: 2px solid #fff;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    background: #fff;
}
.gameProgress {
    width: 42.5px;
    float: left;
    height: 50px;
    background: #777;
}
.stepProgress {
    float: left;
    width: 33.33%;
    height: 100%;
    border-right: 1px solid rgb(169, 167, 167);
}

.activatePoint span{
    -webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}
.activatePoint.in_2 span{
    height: 14% !important;
}
.activatePoint.in_3 span{
    height: 28% !important;
}
.activatePoint.in_4 span{
    height: 42% !important;
}
.activatePoint.in_5 span{
    height: 56% !important;
}
.activatePoint.in_6 span{
    height: 70% !important;
}
/*.gameProgress .stepProgress span {
    width: 0%;
    height: 100%;
    display: inline-block;
}*/


.gameProgress.level_6 .firstLoad.step_3 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
}
.gameProgress.level_6 .firstLoad.step_2 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .3s;
}
.gameProgress.level_6 .firstLoad.step_1 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .35s;
}
.gameProgress.level_5 .firstLoad.step_3 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .37s;
}
.gameProgress.level_5 .firstLoad.step_2 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .39s;
}
.gameProgress.level_5 .firstLoad.step_1 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .41s;
}
.gameProgress.level_4 .firstLoad.step_3 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .43s;
}
.gameProgress.level_4 .firstLoad.step_2 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .45s;
}
.gameProgress.level_4 .firstLoad.step_1 span{
    height: 0%;
   -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .47s;
}
.gameProgress.level_3 .firstLoad.step_3 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .49s;
}
.gameProgress.level_3 .firstLoad.step_2 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .51s;
}
.gameProgress.level_3 .firstLoad.step_1 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .53s;
}
.gameProgress.level_2 .firstLoad.step_3 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .55s;
}
.gameProgress.level_2 .firstLoad.step_2 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .57s;
}
.gameProgress.level_2 .firstLoad.step_1 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .59s;
}
.gameProgress.level_1 .firstLoad.step_3 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .61s;
}
.gameProgress.level_1 .firstLoad.step_2 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .63s;
}
.gameProgress.level_1 .firstLoad.step_1 span{
    height: 0%;
    -webkit-transition: height .2s; /* Safari */
    transition: height .2s;
    transition-delay: .65s;
}
.gameProgress .stepProgress span {
    height: 0%;
    display: inherit;
    bottom: 3px;
    position: absolute;
    width: 12.5px;
}
.gameProgress.level_1 {
    border-radius: 3px 0 0 3px;
    border-left: 2px rgba(129, 226, 112, 0.5) solid;
    border-top: 2px rgba(129, 226, 112, 0.5) solid;
    border-bottom: 2px rgba(129, 226, 112, 0.5) solid;    
}
.gameProgress.level_1 {
    background: rgba(129, 226, 112, .5);
}
.gameProgress.level_1 .activatePoint span{
    background: #4bb338;
}
.gameProgress.level_1 .step_1 span {
  background: #85d477;
}
.gameProgress.level_1 .step_2 span {
  background: #62c851;
}
.gameProgress.level_1 .step_3 span {
   background: #4bb338;
}
.gameProgress.level_1 .activatePointSolved span{
    background: #4bb338;
    height: 70% !important;
}
.gameProgress.level_2 {
    background: rgba(153, 226, 112, .5);
}
.gameProgress.level_2 .activatePoint span{
    background: #369225;
}
.gameProgress.level_2 .step_1 span {
  background: #419b31;
}
.gameProgress.level_2 .step_2 span {
  background: #39882b;
}
.gameProgress.level_2 .step_3 span {
  background: #317425;
}

.gameProgress.level_2 .activatePointSolved span{
    background: #369225;
    height: 70% !important;
}
.gameProgress.level_3 {
    background: rgba(185, 226, 112, .5);    
}
.gameProgress.level_3 .activatePoint span{
    background: #136f02;
}
.gameProgress.level_3 .step_1 span {
   background: #136f02;
 }
.gameProgress.level_3 .step_2 span {
  background: #0d4b02;
}
.gameProgress.level_3 .step_3 span {
  background: #083201;
}
.gameProgress.level_3 .activatePointSolved span{
    background: #136f02;
    height: 70% !important;
}
.gameProgress.level_4 {
    background: rgba(226, 220, 112, .5);
}
.gameProgress.level_4 .activatePoint span{
    background: #ffd600;
}
.gameProgress.level_4 .step_1 span {
   background: #ffd600;
 }
.gameProgress.level_4 .step_2 span {
  background: #ccaa00;
}
.gameProgress.level_4 .step_3 span {
  background: #998000;
}
.gameProgress.level_4 .activatePointSolved span{
    background: #ffd600;
    height: 70% !important;
}
.gameProgress.level_5 {
    background: rgba(226, 178, 112, .5);
}
.gameProgress.level_5 .activatePoint span{
    background: #ff930a;
}
.gameProgress.level_5 .step_1 span {
  background: #ffa733;
}
.gameProgress.level_5 .step_2 span {
  background: #ff9100;
}
.gameProgress.level_5 .step_3 span {
  background: #cc7400;
 }
.gameProgress.level_5 .activatePointSolved span{
    background: #ff930a;
    height: 70% !important;
}
.gameProgress.level_6 {
    background: rgba(226, 131, 112, .5);
}
.gameProgress.level_6 .activatePoint span{
    background: #f11917;
}
.gameProgress.level_6 .step_1 span {
   background: #f11917;
 }
.gameProgress.level_6 .step_2 span {
  background: #d9100d;
}
.gameProgress.level_6 .step_3 span {
  background: #a90c0a;
}
.gameProgress.level_6 .activatePointSolved span{
    background: #f11917;
    height: 70% !important;
}
.gameProgress.level_2 {
    border-top: 2px rgba(153, 226, 112, .5) solid;
    border-bottom: 2px rgba(153, 226, 112, .5) solid;
}
.gameProgress.level_3 {
    border-top: 2px rgba(185, 226, 112, .5) solid;
    border-bottom: 2px rgba(185, 226, 112, .5) solid;
}
.gameProgress.level_4 {
    border-top: 2px rgba(226, 220, 112, .5) solid;
    border-bottom: 2px rgba(226, 220, 112, .5) solid;
}
.gameProgress.level_5 {
    border-top: 2px rgba(226, 178, 112, .5) solid;
    border-bottom: 2px rgba(226, 178, 112, .5) solid;
}
.gameProgress.level_6 {
    border-radius: 0 3px 3px 0;
    border-top: 2px rgba(226, 131, 112, .5) solid;
    border-bottom: 2px rgba(226, 131, 112, .5) solid;
    border-right: 2px rgba(226, 131, 112, .5) solid;
}
.level_6 .step_3 {
    border-right: none;
}
.gameProgress.level_1 .step_1 span, .gameProgress.level_1 .step_2 span, .gameProgress.level_1 .step_3 span, .gameProgress.level_2 .step_1 span, .gameProgress.level_2 .step_2 span, .gameProgress.level_2 .step_3 span, .gameProgress.level_3 .step_1 span, .gameProgress.level_3 .step_2 span, .gameProgress.level_3 .step_3 span, .gameProgress.level_4 .step_1 span, .gameProgress.level_4 .step_2 span, .gameProgress.level_4 .step_3 span, .gameProgress.level_5 .step_1 span, .gameProgress.level_5 .step_2 span, .gameProgress.level_5 .step_3 span, .gameProgress.level_6 .step_1 span, .gameProgress.level_6 .step_2 span, .gameProgress.level_6 .step_3 span, {
    height: 70%;
} 
.temporaryActive .gameProgress {
    background: #ccc;
}
.grid-cell:last-child {
margin-right: 0; }

@-webkit-keyframes hoverpop {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5); } }
@-moz-keyframes hoverpop {
    0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5); } }
@keyframes hoverpop {
    0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5); } }

.selectableGrid div.ActiveSelect:hover {
    cursor: pointer;
    // background-color: rgb(157, 157, 179); violet
    background-color: #f3740b; // orange
    -webkit-animation: hoverpop 50ms ease-in 50ms;
    -moz-animation: hoverpop 50ms ease-in 50ms;
    animation: hoverpop 50ms ease-in 50ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards; 
    transform:scale(1.5);
    z-index: 999;
    position: relative;
}

.tile-container {
  position: absolute;
  z-index: 1; }

.tile, .tile .tile-inner {
  width: 136.66px;
  height: 136.66px;
  line-height: 140px; }
.tile, .tile .tile-inner i {
  line-height: 140px; }
.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #d3e7ff;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
  .tile.tile-2 .tile-inner {
    background: #d3e7ff;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-4 .tile-inner {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }
  .tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f59563; }
  .tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f; }
  .tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }
  .tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px; }
    @media screen and (max-width: 520px) {
      .tile.tile-super .tile-inner {
        font-size: 10px; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }



@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    } 
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
     }
@-moz-keyframes disappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    } 
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }
@keyframes disappear {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    } 
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }
.tile-new .out {
  -webkit-animation: disappear 200ms ease 100ms;
  -moz-animation: disappear 200ms ease 100ms;
  animation: disappear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; 
    transition: opacity 1s ease, visibility 1s ease;
}

@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }
@-moz-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }
@keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); } }

.tile-merged .out {
  z-index: 20;
  -webkit-animation: popOut 200ms ease 100ms;
  -moz-animation: popOut 200ms ease 100ms;
  animation: popOut 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; 
}
.out {
    transform:scale(0);
    transition: opacity 3s ease, visibility 3s ease;
    visibility: hidden;
}
.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 25px;
  margin-bottom: 0; }

.restart-button {
  display: inline-block;
  background: #8f89c1;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.game-explanation {
  margin-top: 50px; }



/* small device */

@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 280px;
    margin: 0 auto; }

  .score-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px; }

  .game-container {
    margin-top: 17px;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #a3a0bb;
    border-radius: 6px;
    width: 280px;
    height: 280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(238, 228, 218, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 10px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 136.66px;
    height: 136.66px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 58px;
    height: 58px;
    line-height: 67.5px; }
  .tile, .tile .tile-inner i {
    line-height: 67.5px; }
  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; } }

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #8f7a66;
    color:#fff;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    float:left;
}
.left{
  clear: both;
  float: left;
  font-size: 17px;
  line-height: 24px;
  padding: 0 10px 0 10px;
}

[v-cloak] { display: none; }

.gameContainer {
    margin-top: 15px;
    background: #a3a0bb;
    padding: 15px;
}
button {
    cursor: pointer;
}
.btn-violet{
    color: #ffffff;
    background-color: #656577;
    border-color: #a3a0bb;
}
.btn-orange{
    color: #ffffff;
    /*background-color: #ec8f42;
    border-color: #dc822f;*/
    background-color: #ff7300;
    border-color: #ff7300;
}
.violet-bg {
    background: #a3a0bb;
}
.orange-bg {
    /*background: #ec8f42;*/
    background: #ff7300;
}
.main-menu {
    text-align: right;
}
.flipOut {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);       
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
    -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;
}




/* MODAL */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.trans-leave-active .tile-inner {
  -webkit-animation: disappear 200ms ease 100ms;
  -moz-animation: disappear 200ms ease 100ms;
  animation: disappear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; 
    transform:scale(0);
}

.trans-leave-active .tile-inner {
  z-index: 20;
  -webkit-animation: popOut 200ms ease 100ms;
  -moz-animation: popOut 200ms ease 100ms;
  animation: popOut 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; 
}

.trans-leave-active .tile-inner{
    z-index: 0;
    visibility: hidden;
}

.trans-leave-to {
    //display: none;
}
.grid-select {
    cursor: pointer;
    text-align: center;    
}
.grid-select:hover {
    background: #a3a0bb;
    color: #dfefff;
}
.grid-select .fa {
    font-size: 50px;
    padding: 28px;
}
.nav-pills .active a{
    background: #ec8f42;
    padding: 10px 15px;
}
.nav-pills li a{
    background: rgba(236, 143, 66, 0.7490196078431373);
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}
.nav-pills {
    margin-bottom: 5px;
}
#buttonClose {
    position: relative;
    top: -35px;
    text-align: right;
    color: red;
}
#buttonClose a {
    color: rgb(249, 249, 249);
    text-decoration: none;
    background: rgba(47, 47, 47, 0.61);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}


/* Fireworks */

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}

.resultDisplay {
    z-index: 2;
    position: relative;
}

.NextModal {
    z-index: 9999;
    position: relative;
}

.titleVisible {
    visibility: hidden;
}


.symbolVisible {
    visibility: visible;
}
.pyro {
    z-index: 999;
    position: relative;
}
.life-container {
    position: relative;
    display: inline-block;
}
.violet {
    color: #866098;
}
.orange {
    color: #f16511;
}
.white {
    color: #fff;
}
.red {
    color: red;
}
.green {
    color: green;
}
.life-container i {
    font-size: 30px;
    padding: 2px;
}
.lifeOff {
    color: red !important;
    -webkit-animation: popOut 200ms ease 100ms;
  -moz-animation: popOut 200ms ease 100ms;
  animation: popOut 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;    
}
.red-bg {
    
}
/* Color change Level Solved */
.done div div{
    background-color: yellow !important;
    animation: 
    pulse 1s ease infinite alternate !important;
}
.alllifegone{
    background-color: #f16511 !important;
    animation: 
    pulseAllLifeGone .5s ease infinite alternate !important;
}
.above-game {
    display: none
}

.alphaSelector {
    font-family: inherit;
}
.finalTitle {
        text-align: center;
    font-size: 10em;
    color: gold;
}
@keyframes pulse {
  0%, 100% {
    background-color: #6eff95;
  }
  50% {
    background-color: #179a3a;
  }
}

@keyframes pulseAllLifeGone {
  0%, 100% {
    background-color: #f16511;
  }
  50% {
    background-color: #ff0000;
  }
}


.modal-mask-instructions-entrance {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 115, 0);
    display: table;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.videoInstructions {
    text-align: center;
}
.buttonContainerEnter {
    text-align: center;
    margin: 25px;
}
.modal-container-instructions-entrance {
    width: 800px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-mask-instructions-entrance {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 115, 0);
    display: table;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.videoInstructions {
    text-align: center;
}
.buttonContainerEnter {
    text-align: center;
    margin: 25px;
}
.modal-container-instructions-entrance {
    width: 800px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
#logoImg {
    height: 60px;
}
.btn.btn-orange {
    width: 160px;
    margin-bottom: 5px;
}
.menu-container {
    text-align: center;
}
.heading {
    position: relative;
    padding-bottom: 25px;
    background-image: url(/images/bg-image.png);
}
.content {
    margin: auto;
    width: 865px;
}
.logoContainer {
    margin-bottom: 25px;
}